@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: smooth;
  scroll-behavior: smooth;
}

* {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

section::-webkit-scrollbar {
  width: 0 !important;
}

.onHover {
  transition: all 0.3s ease-in-out;
}

/* global.css */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/by_cambao_background.avif'); /* Cambia esto por tu ruta de imagen */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* o contain, dependiendo de cómo quieres ajustar la imagen */
  background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
}
